---
import { Image } from "astro:assets";
import { FaInstagram, FaWhatsapp, FaYoutube, FaFacebook } from "react-icons/fa";

const links = [
  { href: "/#inicio", label: "Inicio" },
  { href: "/#nosotros", label: "Nosotros" },
  { href: "/#historia", label: "Historia" },
  { href: "/#aliados", label: "Aliados" },
  { href: "/registro", label: "Inscripción" },
  { href: "/#contacto", label: "Contacto" },
];
---

<section id="footer" data-animate-footer>
  <div data-animate-footer-target class="relative w-full border-t border-gray-200 opacity-0">
    <div class="absolute inset-0 z-0 bg-gray-100"></div>

    <div class="relative z-10 p-8 md:px-12 md:py-5 mx-auto">
      <div class="w-full flex flex-col lg:flex-row items-center justify-center py-2 md:py-4 mx-auto">
        <!-- Logos -->
        <div class="flex flex-col items-center md:items-start md:w-1/5 gap-8 md:gap-5">
          <div class="flex items-center md:items-center gap-2">
            <Image src="/logo.png" width={10} height={10} alt="Academia Internacional de Música - Maestro José Calabrese" class="w-22 md:w-22 md:h-fit justify-center" />
            <Image src="/logo-fosc.png" width={10} height={10} alt="Fundación Orquesta Sinfónica de Carabobo" class="w-35 md:w-35 md:h-fit justify-center pl-2 border-l border-gray-300" />
          </div>
          <div class="flex flex-col gap-2">
            <p class="w-full text-xs text-gray-800 text-center md:text-left"><b>Salón MZ-08, Hotel Hesperia WTC</b> <br /> Naguanagua, Carabobo</p>
            <p class="w-full text-xs text-gray-800 text-center md:text-left"><b>Edificio 4, Piso 1, Universidad José Antonio Páez</b> <br /> San Diego, Carabobo</p>
          </div>
        </div>

        <!-- Links -->
        <div class="w-full lg:w-2/5 grid grid-cols-2 md:grid-cols-3 gap-4 mx-auto px-6 md:px-32 lg:px-0 py-12 md:py-0">
          {links.map((link) => (
            <a href={link.href} class="text-xs text-center font-montserrat text-gray-800 font-medium hover:underline transition-colors duration-200">{link.label}</a>
          ))}
        </div>

        <!-- Social media -->
        <div class="w-full lg:w-1/5 md:pt-12 lg:pt-0">
          <div class="flex flex-row items-center justify-center md:justify-end gap-4">
            <a href="https://www.instagram.com/sinfocarabobo" aria-label="Instagram" class="flex w-10 h-10 bg-[#C19310] justify-center items-center rounded-full hover:opacity-70" target="_blank" rel="noopener noreferrer">
              <FaInstagram className="w-5 md:w-6 h-5 md:h-6 text-white hover:opacity-75 transition-opacity" />
            </a>
            <a href="https://api.whatsapp.com/send?phone=584143410642" aria-label="WhatsApp" class="flex w-10 h-10 bg-[#C19310] justify-center items-center rounded-full hover:opacity-70" target="_blank" rel="noopener noreferrer">
              <FaWhatsapp className="w-5 md:w-6 h-5 md:h-6 text-white hover:opacity-75 transition-opacity" />
            </a>
            <a href="https://www.facebook.com/sinfonicarabobo" aria-label="Facebook" class="flex w-10 h-10 bg-[#C19310] justify-center items-center rounded-full hover:opacity-70" target="_blank" rel="noopener noreferrer">
              <FaFacebook className="w-5 md:w-6 h-5 md:h-6 text-white hover:opacity-75 transition-opacity" />
            </a>
            <a href="https://youtube.com/channel/UCwrQQn62Z9-vfG-eU48SALA/OrquestaSinf%C3%B3nicadeCarabobo?si=zaowlU45_uCT1Da-" aria-label="Youtube" class="flex w-10 h-10 bg-[#C19310] justify-center items-center rounded-full hover:opacity-70" target="_blank" rel="noopener noreferrer">
              <FaYoutube className="w-5 md:w-6 h-5 md:h-6 text-white hover:opacity-75 transition-opacity" />
            </a>
          </div>
        </div>
      </div>

      <!-- Copyright -->
      <div class="w-full text-xs text-gray-800 text-center px-0 pb-6 mt-8 md:mt-6">
        Copyright © 2025 Fundación Orquesta Sinfónica de Carabobo. Todos los derechos reservados.
      </div>
    </div>
  </div>

  <script>
    (function(){
      const root = document.querySelector('[data-animate-footer]');
      const target = document.querySelector('[data-animate-footer-target]');
      if (root && target) {
        const obs = new IntersectionObserver(([entry]) => {
          if (entry.isIntersecting) {
            target.classList.remove('opacity-0');
            target.classList.add('slide-from-bottom');
            obs.disconnect();
          }
        }, { threshold: 0.2 });
        obs.observe(root);
      }
    })();
  </script>
</section>
